# TITANIC CON MACHINE LEARNING

#### Descarga deL DataSet:
https://www.kaggle.com/datasets/vinicius150987/titanic3

## Visualizacion del DataSet

### Lectura del DataSet

In [1]:
# Lectura del DataSet mediante funciones de Python.
with open ("/Titanic/titanic3.csv") as train_set:
    df = train_set.readlines()
df

['Passengers,pclass,survived,name,length_name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,person_rate,Characteristic_of_Number _Name,Name_Length,Age_group\n',
 '1,1,1,"Allen, Miss. Elisabeth Walton",29,female,29,0,0,24160,211.3375,B5,S,2,,"St Louis, MO",211.3375,1,4,Adulto Joven\n',
 '2,1,1,"Allison, Master. Hudson Trevor",30,male,0.9167,1,2,113781,151.55,C22 C26,S,11,,"Montreal, PQ / Chesterville, ON",37.8875,1,4,Niño\n',
 '3,1,0,"Allison, Miss. Helen Loraine",28,female,2,1,2,113781,151.55,C22 C26,S,,,"Montreal, PQ / Chesterville, ON",37.8875,0,4,Niño\n',
 '4,1,0,"Allison, Mr. Hudson Joshua Creighton",36,male,30,1,2,113781,151.55,C22 C26,S,,135,"Montreal, PQ / Chesterville, ON",37.8875,0,5,Adulto Joven\n',
 '5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",47,female,25,1,2,113781,151.55,C22 C26,S,,,"Montreal, PQ / Chesterville, ON",37.8875,0,8,Adulto Joven\n',
 '6,1,1,"Anderson, Mr. Harry",19,male,48,0,0,19952,26.55,E12,S,3,,"New York, NY",26.55,1,3,Adulto\n',
 '7,1,1,"Andrews, Miss. Kornelia Theodosia",33,female,63,1,0,13502,77.9583,D7,S,10,,"Hudson, NY",38.97915,1,4,Adulto Mayor\n',
 '8,1,0,"Andrews, Mr. Thomas Jr",22,male,39,0,0,112050,0,A36,S,,,"Belfast, NI",0,0,4,Adulto\n',
 '9,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",45,female,53,2,0,11769,51.4792,C101,S,D,,"Bayside, Queens, NY",17.1597333333333,1,6,Adulto\n',
 '10,1,0,"Artagaveytia, Mr. Ramon",23,male,71,0,0,PC 17609,49.5042,,C,,22,"Montevideo, Uruguay",49.5042,0,3,Adulto Mayor\n',
 '11,1,0,"Astor, Col. John Jacob",22,male,47,1,0,PC 17757,227.525,C62 C64,C,,124,"New York, NY",113.7625,0,4,Adulto\n',
 '12,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",49,female,18,1,0,PC 17757,227.525,C62 C64,C,4,,"New York, NY",113.7625,1,7,Adolescente\n',
 '13,1,1,"Aubart, Mme. Leontine Pauline",29,female,24,0,0,PC 17477,69.3,B35,C,9,,"Paris, France",69.3,1,4,Adulto Joven\n',
 '14,1,1,"Barber, Miss. Ellen ""Nellie""",28,female,26,0,0,19877,78.85,,S,6,,,78.85,1,4,Adulto Joven\n',
 '15,1,1,"Barkworth, Mr. Algernon Henry Wilson",36,male,80,0,0,27042,30,A23,S,B,,"Hessle, Yorks",30,1,5,Adulto Mayor\n',
 '16,1,0,"Baumann, Mr. John D",19,male,,0,0,PC 17318,25.925,,S,,,"New York, NY",25.925,0,4,Niño\n',
 '17,1,0,"Baxter, Mr. Quigg Edmond",24,male,24,0,1,PC 17558,247.5208,B58 B60,C,,,"Montreal, PQ",123.7604,0,4,Adulto Joven\n',
 '18,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",47,female,50,0,1,PC 17558,247.5208,B58 B60,C,6,,"Montreal, PQ",123.7604,1,6,Adulto\n',
 '19,1,1,"Bazzani, Miss. Albina",21,female,32,0,0,11813,76.2917,D15,C,8,,,76.2917,1,3,Adulto\n',
 '20,1,0,"Beattie, Mr. Thomson",20,male,36,0,0,13050,75.2417,C6,C,A,,"Winnipeg, MN",75.2417,0,3,Adulto\n',
 '21,1,1,"Beckwith, Mr. Richard Leonard",29,male,37,1,1,11751,52.5542,D35,S,5,,"New York, NY",17.5180666666667,1,4,Adulto\n',
 '22,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",48,female,47,1,1,11751,52.5542,D35,S,5,,"New York, NY",17.5180666666667,1,6,Adulto\n',
 '23,1,1,"Behr, Mr. Karl Howell",21,male,26,0,0,111369,30,C148,C,5,,"New York, NY",30,1,4,Adulto Joven\n',
 '24,1,1,"Bidois, Miss. Rosalie",21,female,42,0,0,PC 17757,227.525,,C,4,,,227.525,1,3,Adulto\n',
 '25,1,1,"Bird, Miss. Ellen",17,female,29,0,0,PC 17483,221.7792,C97,S,8,,,221.7792,1,3,Adulto Joven\n',
 '26,1,0,"Birnbaum, Mr. Jakob",19,male,25,0,0,13905,26,,C,,148,"San Francisco, CA",26,0,3,Adulto Joven\n',
 '27,1,1,"Bishop, Mr. Dickinson H",23,male,25,1,0,11967,91.0792,B49,C,7,,"Dowagiac, MI",45.5396,1,4,Adulto Joven\n',
 '28,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",39,female,19,1,0,11967,91.0792,B49,C,7,,"Dowagiac, MI",45.5396,1,6,Adulto Joven\n',
 '29,1,1,"Bissette, Miss. Amelia",22,female,35,0,0,PC 17760,135.6333,C99,S,8,,,135.6333,1,3,Adulto\n',
 '30,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",41,male,28,0,0,110564,26.55,C52,S,D,,"Stockholm, Sweden / Washington, DC",26.55,1,4,Adulto Joven\n',
 '31,1,0,"Blackwell, Mr. Stephen Weart",28,male,45,0,0,113784,35.5,T,S,,,"Trenton, NJ",35.5,0,4,Adulto\n',
 '32,1,1,"Blank, Mr. Henry",16,male,40,0,0,112277,31,A31,C,7,,"Glen Ridge, NJ",31,1,3,Adulto\n',
 '33,1,1,"Bonnell, Miss. Caroline",23,female,30,0,0,36928,164.8667,C7,S,8,,"Youngstown, OH",164.8667,1,3,Adulto Joven\n',
 '34,1,1,"Bonnell, Miss. Elizabeth",24,female,58,0,0,113783,26.55,C103,S,8,,"Birkdale, England Cleveland, Ohio",26.55,1,3,Adulto\n',
 '35,1,0,"Borebank, Mr. John James",24,male,42,0,0,110489,26.55,D22,S,,,"London / Winnipeg, MB",26.55,0,4,Adulto\n',
 '36,1,1,"Bowen, Miss. Grace Scott",24,female,45,0,0,PC 17608,262.375,,C,4,,"Cooperstown, NY",262.375,1,4,Adulto\n',
 '37,1,1,"Bowerman, Miss. Elsie Edith",27,female,22,0,1,113505,55,E33,S,6,,"St Leonards-on-Sea, England Ohio",27.5,1,4,Adulto Joven\n',
 '38,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",45,male,,0,0,111427,26.55,,S,9,,"Los Angeles, CA",26.55,1,6,Niño\n',
 '39,1,0,"Brady, Mr. John Bertram",23,male,41,0,0,113054,30.5,A21,S,,,"Pomeroy, WA",30.5,0,4,Adulto\n',
 '40,1,0,"Brandeis, Mr. Emil",18,male,48,0,0,PC 17591,50.4958,B10,C,,208,"Omaha, NE",50.4958,0,3,Adulto\n',
 '41,1,0,"Brewe, Dr. Arthur Jackson",25,male,,0,0,112379,39.6,,C,,,"Philadelphia, PA",39.6,0,4,Niño\n',
 '42,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",41,female,44,0,0,PC 17610,27.7208,B4,C,6,,"Denver, CO",27.7208,1,6,Adulto\n',
 '43,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",46,female,59,2,0,11769,51.4792,C101,S,D,,"Belmont, MA",17.1597333333333,1,7,Adulto\n',
 '44,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",47,female,60,0,0,11813,76.2917,D15,C,8,,"Philadelphia, PA",76.2917,1,7,Adulto\n',
 '45,1,1,"Burns, Miss. Elizabeth Margaret",31,female,41,0,0,16966,134.5,E40,C,3,,,134.5,1,4,Adulto\n',
 '46,1,0,"Butt, Major. Archibald Willingham",33,male,45,0,0,113050,26.55,B38,S,,,"Washington, DC",26.55,0,4,Adulto\n',
 '47,1,0,"Cairns, Mr. Alexander",21,male,,0,0,113798,31,,S,,,,31,0,3,Niño\n',
 '48,1,1,"Calderhead, Mr. Edward Pennington",33,male,42,0,0,PC 17476,26.2875,E24,S,5,,"New York, NY",26.2875,1,4,Adulto\n',
 '49,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",48,female,53,0,0,PC 17606,27.4458,,C,6,,"Washington, DC",27.4458,1,6,Adulto\n',
 '50,1,1,"Cardeza, Mr. Thomas Drake Martinez",34,male,36,0,1,PC 17755,512.3292,B51 B53 B55,C,3,,"Austria-Hungary / Germantown, Philadelphia, PA",256.1646,1,5,Adulto\n',
 '51,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)",63,female,58,0,1,PC 17755,512.3292,B51 B53 B55,C,3,,"Germantown, Philadelphia, PA",256.1646,1,8,Adulto\n',
 '52,1,0,"Carlsson, Mr. Frans Olof",24,male,33,0,0,695,5,B51 B53 B55,S,,,"New York, NY",5,0,4,Adulto\n',
 '53,1,0,"Carrau, Mr. Francisco M",23,male,28,0,0,113059,47.1,,S,,,"Montevideo, Uruguay",47.1,0,4,Adulto Joven\n',
 '54,1,0,"Carrau, Mr. Jose Pedro",22,male,17,0,0,113059,47.1,,S,,,"Montevideo, Uruguay",47.1,0,4,Adolescente\n',
 '55,1,1,"Carter, Master. William Thornton II",35,male,11,1,2,113760,120,B96 B98,S,4,,"Bryn Mawr, PA",30,1,5,Niño\n',
 '56,1,1,"Carter, Miss. Lucile Polk",25,female,14,1,2,113760,120,B96 B98,S,4,,"Bryn Mawr, PA",30,1,4,Adolescente\n',
 '57,1,1,"Carter, Mr. William Ernest",26,male,36,1,2,113760,120,B96 B98,S,C,,"Bryn Mawr, PA",30,1,4,Adulto\n',
 '58,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",41,female,36,1,2,113760,120,B96 B98,S,4,,"Bryn Mawr, PA",30,1,6,Adulto\n',
 '59,1,0,"Case, Mr. Howard Brown",22,male,49,0,0,19924,26,,S,,,"Ascot, Berkshire / Rochester, NY",26,0,4,Adulto\n',
 '60,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)",59,female,,0,0,17770,27.7208,,C,5,,"New York, NY",27.7208,1,8,Niño\n',
 '61,1,0,"Cavendish, Mr. Tyrell William",29,male,36,1,0,19877,78.85,C46,S,,172,"Little Onn Hall, Staffs",39.425,0,4,Adulto\n',
 '62,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence Siegel)",54,female,76,1,0,19877,78.85,C46,S,6,,"Little Onn Hall, Staffs",39.425,1,7,Adulto Mayor\n',
 '63,1,0,"Chaffee, Mr. Herbert Fuller",27,male,46,1,0,W.E.P. 5734,61.175,E31,S,,,"Amenia, ND",30.5875,0,4,Adulto\n',
 '64,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)",55,female,47,1,0,W.E.P. 5734,61.175,E31,S,4,,"Amenia, ND",30.5875,1,7,Adulto\n',
 '65,1,1,"Chambers, Mr. Norman Campbell",29,male,27,1,0,113806,53.1,E8,S,5,,"New York, NY / Ithaca, NY",26.55,1,4,Adulto Joven\n',
 '66,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",46,female,33,1,0,113806,53.1,E8,S,5,,"New York, NY / Ithaca, NY",26.55,1,6,Adulto\n',
 '67,1,1,"Chaudanson, Miss. Victorine",27,female,36,0,0,PC 17608,262.375,B61,C,4,,,262.375,1,3,Adulto\n',
 '68,1,1,"Cherry, Miss. Gladys",20,female,30,0,0,110152,86.5,B77,S,8,,"London, England",86.5,1,3,Adulto Joven\n',
 '69,1,1,"Chevre, Mr. Paul Romaine",24,male,45,0,0,PC 17594,29.7,A9,C,7,,"Paris, France",29.7,1,4,Adulto\n',
 '70,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",38,female,,0,1,113505,55,E33,S,6,,"St Leonards-on-Sea, England Ohio",27.5,1,5,Niño\n',
 '71,1,0,"Chisholm, Mr. Roderick Robert Crispin",37,male,,0,0,112051,0,,S,,,"Liverpool, England / Belfast",0,0,5,Niño\n',
 '72,1,0,"Clark, Mr. Walter Miller",24,male,27,1,0,13508,136.7792,C89,C,,,"Los Angeles, CA",68.3896,0,4,Adulto Joven\n',
 '73,1,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",45,female,26,1,0,13508,136.7792,C89,C,4,,"Los Angeles, CA",68.3896,1,6,Adulto Joven\n',
 '74,1,1,"Cleaver, Miss. Alice",20,female,22,0,0,113781,151.55,,S,11,,,151.55,1,3,Adulto Joven\n',
 '75,1,0,"Clifford, Mr. George Quincy",27,male,,0,0,110465,52,A14,S,,,"Stoughton, MA",52,0,4,Niño\n',
 '76,1,0,"Colley, Mr. Edward Pomeroy",26,male,47,0,0,5727,25.5875,E58,S,,,"Victoria, BC",25.5875,0,4,Adulto\n',
 '77,1,1,"Compton, Miss. Sara Rebecca",27,female,39,1,1,PC 17756,83.1583,E49,C,14,,"Lakewood, NJ",27.7194333333333,1,4,Adulto\n',
 '78,1,0,"Compton, Mr. Alexander Taylor Jr",32,male,37,1,1,PC 17756,83.1583,E52,C,,,"Lakewood, NJ",27.7194333333333,0,5,Adulto\n',
 '79,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)",53,female,64,0,2,PC 17756,83.1583,E45,C,14,,"Lakewood, NJ",27.7194333333333,1,7,Adulto Mayor\n',
 '80,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)",52,female,55,2,0,11770,25.7,C101,S,2,,"New York, NY",8.56666666666667,1,7,Adulto\n',
 '81,1,0,"Crafton, Mr. John Bertram",25,male,,0,0,113791,26.55,,S,,,"Roachdale, IN",26.55,0,4,Niño\n',
 '82,1,0,"Crosby, Capt. Edward Gifford",28,male,70,1,1,WE/P 5735,71,B22,S,,269,"Milwaukee, WI",23.6666666666667,0,4,Adulto Mayor\n',
 '83,1,1,"Crosby, Miss. Harriet R",23,female,36,0,2,WE/P 5735,71,B22,S,7,,"Milwaukee, WI",23.6666666666667,1,4,Adulto\n',
 '84,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)",58,female,64,1,1,112901,26.55,B26,S,7,,"Milwaukee, WI",8.85,1,7,Adulto Mayor\n',
 '85,1,0,"Cumings, Mr. John Bradley",25,male,39,1,0,PC 17599,71.2833,C85,C,,,"New York, NY",35.64165,0,4,Adulto\n',
 '86,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",51,female,38,1,0,PC 17599,71.2833,C85,C,4,,"New York, NY",35.64165,1,7,Adulto\n',
 '87,1,1,"Daly, Mr. Peter Denis ",22,male,51,0,0,113055,26.55,E17,S,5 9,,"Lima, Peru",26.55,1,5,Adulto\n',
 '88,1,1,"Daniel, Mr. Robert Williams",27,male,27,0,0,113804,30.5,,S,3,,"Philadelphia, PA",30.5,1,4,Adulto Joven\n',
 '89,1,1,"Daniels, Miss. Sarah",20,female,33,0,0,113781,151.55,,S,8,,,151.55,1,3,Adulto\n',
 '90,1,0,"Davidson, Mr. Thornton",22,male,31,1,0,F.C. 12750,52,B71,S,,,"Montreal, PQ",26,0,3,Adulto\n',
 '91,1,1,"Davidson, Mrs. Thornton (Orian Hays)",36,female,27,1,2,F.C. 12750,52,B71,S,3,,"Montreal, PQ",13,1,5,Adulto Joven\n',
 '92,1,1,"Dick, Mr. Albert Adrian",23,male,31,1,0,17474,57,B20,S,3,,"Calgary, AB",28.5,1,4,Adulto\n',
 '93,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",41,female,17,1,0,17474,57,B20,S,3,,"Calgary, AB",28.5,1,6,Adolescente\n',
 '94,1,1,"Dodge, Dr. Washington",21,male,53,1,1,33638,81.8583,A34,S,13,,"San Francisco, CA",27.2861,1,3,Adulto\n',
 '95,1,1,"Dodge, Master. Washington",25,male,4,0,2,33638,81.8583,A34,S,5,,"San Francisco, CA",27.2861,1,3,Niño\n',
 '96,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",37,female,54,1,1,33638,81.8583,A34,S,5,,"San Francisco, CA",27.2861,1,5,Adulto\n',
 '97,1,0,"Douglas, Mr. Walter Donald",26,male,50,1,0,PC 17761,106.425,C86,C,,62,"Deephaven, MN / Cedar Rapids, IA",53.2125,0,4,Adulto\n',
 '98,1,1,"Douglas, Mrs. Frederick Charles (Mary Helene Baxter)",52,female,27,1,1,PC 17558,247.5208,B58 B60,C,6,,"Montreal, PQ",82.5069333333333,1,7,Adulto Joven\n',
 '99,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",43,female,48,1,0,PC 17761,106.425,C86,C,2,,"Deephaven, MN / Cedar Rapids, IA",53.2125,1,6,Adulto\n',
 '100,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherland) (""Mrs Morgan"")",65,female,48,1,0,11755,39.6,A16,C,1,,London / Paris,19.8,1,8,Adulto\n',
 '101,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",44,male,49,1,0,PC 17485,56.9292,A20,C,1,,London / Paris,28.4646,1,7,Adulto\n',
 '102,1,0,"Dulles, Mr. William Crothers",28,male,39,0,0,PC 17580,29.7,A18,C,,133,"Philadelphia, PA",29.7,0,4,Adulto\n',
 '103,1,1,"Earnshaw, Mrs. Boulton (Olive Potter)",37,female,23,0,1,11767,83.1583,C54,C,7,,"Mt Airy, Philadelphia, PA",41.57915,1,5,Adulto Joven\n',
 '104,1,1,"Endres, Miss. Caroline Louise",29,female,38,0,0,PC 17757,227.525,C45,C,4,,"New York, NY",227.525,1,4,Adulto\n',
 '105,1,1,"Eustis, Miss. Elizabeth Mussey",30,female,54,1,0,36947,78.2667,D20,C,4,,"Brookline, MA",39.13335,1,4,Adulto\n',
 '106,1,0,"Evans, Miss. Edith Corse",24,female,36,0,0,PC 17531,31.6792,A29,C,,,"New York, NY",31.6792,0,4,Adulto\n',
 '107,1,0,"Farthing, Mr. John",18,male,,0,0,PC 17483,221.7792,C95,S,,,,221.7792,0,3,Niño\n',
 '108,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",36,female,,0,0,PC 17598,31.6833,,S,7,,"New York, NY",31.6833,1,4,Niño\n',
 '109,1,1,"Fleming, Miss. Margaret",23,female,,0,0,17421,110.8833,,C,4,,,110.8833,1,3,Niño\n',
 '110,1,1,"Flynn, Mr. John Irwin (""Irving"")",32,male,36,0,0,PC 17474,26.3875,E25,S,5,,"Brooklyn, NY",26.3875,1,5,Adulto\n',
 '111,1,0,"Foreman, Mr. Benjamin Laventall",31,male,30,0,0,113051,27.75,C111,C,,,"New York, NY",27.75,0,4,Adulto Joven\n',
 '112,1,1,"Fortune, Miss. Alice Elizabeth",30,female,24,3,2,19950,263,C23 C25 C27,S,10,,"Winnipeg, MB",43.8333333333333,1,4,Adulto Joven\n',
 '113,1,1,"Fortune, Miss. Ethel Flora",26,female,28,3,2,19950,263,C23 C25 C27,S,10,,"Winnipeg, MB",43.8333333333333,1,4,Adulto Joven\n',
 '114,1,1,"Fortune, Miss. Mabel Helen",26,female,23,3,2,19950,263,C23 C25 C27,S,10,,"Winnipeg, MB",43.8333333333333,1,4,Adulto Joven\n',
 '115,1,0,"Fortune, Mr. Charles Alexander",30,male,19,3,2,19950,263,C23 C25 C27,S,,,"Winnipeg, MB",43.8333333333333,0,4,Adulto Joven\n',
 '116,1,0,"Fortune, Mr. Mark",17,male,64,1,4,19950,263,C23 C25 C27,S,,,"Winnipeg, MB",43.8333333333333,0,3,Adulto Mayor\n',
 '117,1,1,"Fortune, Mrs. Mark (Mary McDougald)",35,female,60,1,4,19950,263,C23 C25 C27,S,10,,"Winnipeg, MB",43.8333333333333,1,5,Adulto\n',
 '118,1,1,"Francatelli, Miss. Laura Mabel",30,female,30,0,0,PC 17485,56.9292,E36,C,1,,,56.9292,1,4,Adulto Joven\n',
 '119,1,0,"Franklin, Mr. Thomas Parham",27,male,,0,0,113778,26.55,D34,S,,,"Westcliff-on-Sea, Essex",26.55,0,4,Niño\n',
 '120,1,1,"Frauenthal, Dr. Henry William",29,male,50,2,0,PC 17611,133.65,,S,5,,"New York, NY",44.55,1,4,Adulto\n',
 '121,1,1,"Frauenthal, Mr. Isaac Gerald",28,male,43,1,0,17765,27.7208,D40,C,5,,"New York, NY",13.8604,1,4,Adulto\n',
 '122,1,1,"Frauenthal, Mrs. Henry William (Clara Heinsheimer)",50,female,,1,0,PC 17611,133.65,,S,5,,"New York, NY",66.825,1,6,Niño\n',
 '123,1,1,"Frolicher, Miss. Hedwig Margaritha",34,female,22,0,2,13568,49.5,B39,C,5,,"Zurich, Switzerland",16.5,1,4,Adulto Joven\n',
 '124,1,1,"Frolicher-Stehli, Mr. Maxmillian",32,male,60,1,1,13567,79.2,B41,C,5,,"Zurich, Switzerland",26.4,1,3,Adulto\n',
 '125,1,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)",63,female,48,1,1,13567,79.2,B41,C,5,,"Zurich, Switzerland",26.4,1,6,Adulto\n',
 '126,1,0,"Fry, Mr. Richard",16,male,,0,0,112058,0,B102,S,,,,0,0,3,Niño\n',
 '127,1,0,"Futrelle, Mr. Jacques Heath",27,male,37,1,0,113803,53.1,C123,S,,,"Scituate, MA",26.55,0,4,Adulto\n',
 '128,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",44,female,35,1,0,113803,53.1,C123,S,D,,"Scituate, MA",26.55,1,7,Adulto\n',
 '129,1,0,"Gee, Mr. Arthur H",17,male,47,0,0,111320,38.5,E63,S,,275,"St Anne\'s-on-Sea, Lancashire",38.5,0,4,Adulto\n',
 '130,1,1,"Geiger, Miss. Amalie",20,female,35,0,0,113503,211.5,C130,C,4,,,211.5,1,3,Adulto\n',
 '131,1,1,"Gibson, Miss. Dorothy Winifred",30,female,22,0,1,112378,59.4,,C,7,,"New York, NY",29.7,1,4,Adulto Joven\n',
 '132,1,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",39,female,45,0,1,112378,59.4,,C,7,,"New York, NY",29.7,1,6,Adulto\n',
 '133,1,0,"Giglio, Mr. Victor",18,male,24,0,0,PC 17593,79.2,B86,C,,,,79.2,0,3,Adulto Joven\n',
 '134,1,1,"Goldenberg, Mr. Samuel L",24,male,49,1,0,17453,89.1042,C92,C,5,,"Paris, France / New York, NY",44.5521,1,4,Adulto\n',
 '135,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",44,female,,1,0,17453,89.1042,C92,C,5,,"Paris, France / New York, NY",44.5521,1,6,Niño\n',
 '136,1,0,"Goldschmidt, Mr. George B",25,male,71,0,0,PC 17754,34.6542,A5,C,,,"New York, NY",34.6542,0,4,Adulto Mayor\n',
 '137,1,1,"Gracie, Col. Archibald IV",25,male,53,0,0,113780,28.5,C51,C,B,,"Washington, DC",28.5,1,4,Adulto\n',
 '138,1,1,"Graham, Miss. Margaret Edith",28,female,19,0,0,112053,30,B42,S,3,,"Greenwich, CT",30,1,4,Adulto Joven\n',
 '139,1,0,"Graham, Mr. George Edward",25,male,38,0,1,PC 17582,153.4625,C91,S,,147,"Winnipeg, MB",76.73125,0,4,Adulto\n',
 '140,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",45,female,58,0,1,PC 17582,153.4625,C125,S,3,,"Greenwich, CT",76.73125,1,6,Adulto\n',
 '141,1,1,"Greenfield, Mr. William Bertram",31,male,23,0,1,PC 17759,63.3583,D10 D12,C,7,,"New York, NY",31.67915,1,4,Adulto Joven\n',
 '142,1,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",44,female,45,0,1,PC 17759,63.3583,D10 D12,C,7,,"New York, NY",31.67915,1,6,Adulto\n',
 '143,1,0,"Guggenheim, Mr. Benjamin",24,male,46,0,0,PC 17593,79.2,B82 B84,C,,,"New York, NY",79.2,0,3,Adulto\n',
 '144,1,1,"Harder, Mr. George Achilles",27,male,25,1,0,11765,55.4417,E50,C,5,,"Brooklyn, NY",27.72085,1,4,Adulto Joven\n',
 '145,1,1,"Harder, Mrs. George Achilles (Dorothy Annan)",44,female,25,1,0,11765,55.4417,E50,C,5,,"Brooklyn, NY",27.72085,1,6,Adulto Joven\n',
 '146,1,1,"Harper, Mr. Henry Sleeper",25,male,48,1,0,PC 17572,76.7292,D33,C,3,,"New York, NY",38.3646,1,4,Adulto\n',
 '147,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",40,female,49,1,0,PC 17572,76.7292,D33,C,3,,"New York, NY",38.3646,1,6,Adulto\n',
 '148,1,0,"Harrington, Mr. Charles H",25,male,,0,0,113796,42.4,,S,,,,42.4,0,4,Niño\n',
 '149,1,0,"Harris, Mr. Henry Birkhardt",27,male,45,1,0,36973,83.475,C83,S,,,"New York, NY",41.7375,0,4,Adulto\n',
 '150,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",44,female,35,1,0,36973,83.475,C83,S,D,,"New York, NY",41.7375,1,6,Adulto\n',
 '151,1,0,"Harrison, Mr. William",21,male,40,0,0,112059,0,B94,S,,110,,0,0,3,Adulto\n',
 '152,1,1,"Hassab, Mr. Hammad",18,male,27,0,0,PC 17572,76.7292,D49,C,3,,,76.7292,1,3,Adulto Joven\n',
 '153,1,1,"Hawksford, Mr. Walter James",27,male,,0,0,16988,30,D45,S,3,,"Kingston, Surrey",30,1,4,Niño\n',
 '154,1,1,"Hays, Miss. Margaret Bechstein",30,female,24,0,0,11767,83.1583,C54,C,7,,"New York, NY",83.1583,1,4,Adulto Joven\n',
 '155,1,0,"Hays, Mr. Charles Melville",26,male,55,1,1,12749,93.5,B69,S,,307,"Montreal, PQ",31.1666666666667,0,4,Adulto\n',
 '156,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gregg)",50,female,52,1,1,12749,93.5,B69,S,3,,"Montreal, PQ",31.1666666666667,1,7,Adulto\n',
 '157,1,0,"Head, Mr. Christopher",21,male,42,0,0,113038,42.5,B11,S,,,London / Middlesex,42.5,0,3,Adulto\n',
 '158,1,0,"Hilliard, Mr. Herbert Henry",27,male,,0,0,17463,51.8625,E46,S,,,"Brighton, MA",51.8625,0,4,Niño\n',
 '159,1,0,"Hipkins, Mr. William Edward",27,male,55,0,0,680,50,C39,S,,,London / Birmingham,50,0,4,Adulto\n',
 '160,1,1,"Hippach, Miss. Jean Gertrude",28,female,16,0,1,111361,57.9792,B18,C,4,,"Chicago, IL",28.9896,1,4,Adolescente\n',

In [2]:
# Lectura del DataSet utilizando Pandas
import pandas as pd
df = pd.read_csv("titanic3.csv")
df

,Passengers,pclass,survived,name,length_name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,person_rate,Characteristic_of_Number _Name,Name_Length,Age_group
0,1,1,1,"Allen, Miss. Elisabeth Walton",29,female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",211.3375,1,4,Adulto Joven
1,2,1,1,"Allison, Master. Hudson Trevor",30,male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",37.8875,1,4,Niño
2,3,1,0,"Allison, Miss. Helen Loraine",28,female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",37.8875,0,4,Niño
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",36,male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",37.8875,0,5,Adulto Joven
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",47,female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",37.8875,0,8,Adulto Joven
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,3,0,"Zabour, Miss. Hileni",20,female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,7.2271,0,3,Adolescente
1305,1306,3,0,"Zabour, Miss. Thamine",21,female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,7.2271,0,3,Niño
1306,1307,3,0,"Zakarian, Mr. Mapriededer",25,male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,7.2250,0,3,Adulto Joven
1307,1308,3,0,"Zakarian, Mr. Ortin",19,male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,7.2250,0,3,Adulto Joven
1308,1309,3,0,"Zimmerman, Mr. Leo",18,male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,7.8750,0,3,Adulto Joven

In [3]:
# Mostrar los ficheros en el directorio del DataSet
import os

os.listdir("Titanic/")

FileNotFoundError: [Errno 2] No such file or directory: 'Titanic/'

In [ ]:
# Instalar un paquete dentro de Jumpyter Notebook para parsear ficheros ARFF.

import sys

!{sys.executable} -m pip install liac-arff

In [ ]:
import pandas as pd

df = pd.read_csv("Titanic/titanic3.csv")

print(df.head())

In [ ]:
# Obtener únicamente los nombres de los atributos
atributos = df.columns.tolist()
print(atributos)

In [ ]:
df["sex"]

In [ ]:
df["age"]

In [ ]:
atributos_manuales = ["Passengers", "pclass", "survived", "name", "length_name", "sex", "age", "sibsp", "parch", "ticket", "fare", "cabin", "embarked", "boat", "body", "home.dest", "person rate", "Characteristic of Number Name", "Name", "Name Length", "Age group"]

print(atributos_manuales)

## Funciones Básicas de visualizacion de los datos.

In [ ]:
import pandas as pd

def load_titanic_dataset(data_path):
    """Carga el conjunto de datos del Titanic desde un archivo CSV y devuelve un DataFrame de pandas."""
    df = pd.read_csv(data_path)
    return df

In [ ]:
data_path = 'Titanic/titanic3.csv'
df_titanic = load_titanic_dataset(data_path)

print(df_titanic)

In [ ]:
# Lectura y copia del DataSet
df_orig = load_titanic_dataset('Titanic/titanic3.csv')
df = df_orig.copy()

In [ ]:
# Mostrar en pantalla un número determinado de filas.
df.head(10)

In [ ]:
# Mostrar informacion básica sobre el DataSet
df.info()

In [ ]:
# Mostrar información estadística sobre el DataSet.
df.describe()

In [ ]:
# Mostrar los valores únicos que tenga un atributo determinado.
df["person_rate"].value_counts()

In [ ]:
# Mostrar los valores de la caracteristica como un histograma.
%matplotlib inline
import matplotlib.pyplot as plt
df["person_rate"].hist()

## Funciones avanzadas de visualización de los datos.

In [ ]:
# El atributo class de nuestro conjunto de datos tiene valores categoricos.
df["person_rate"]

In [ ]:
# Transformar los valores del atributo class de categoricos a númericos.
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df["person_rate"] = labelencoder.fit_transform(df["person_rate"])
df

In [ ]:
# Mostrar la correlacion entre los atributos del conjunto de datos.
corr_matrix = df.corr(numeric_only=True)
corr_matrix["person_rate"].sort_values(ascending=False)

In [ ]:
# Mostrar correlacion lineal entre todos los atributos del DataSet
df.corr(numeric_only=True)

### Matriz de correlación

In [ ]:
#representar graficamente la matriz correlacion.
corr = df.corr(numeric_only=True)
fig, ax = plt.subplots(figsize=(8, 8))
ax.matshow(corr)
plt.xticks(range(len(corr.columns)), corr.columns);
plt.yticks(range(len(corr.columns)), corr.columns);

# Preparación Del DataSet

## Imports

In [ ]:
import arff
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Funciones Auxiliares.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

def load_titanic_dataset_csv(data_path):
    """Lectura del conjunto de datos Titanic en formato CSV."""
    return pd.read_csv(data_path)

def titanic_train_val_test_split(df, rstate=42, shuffle=True, stratify=None):
    strat = df[stratify] if stratify else None
    train_set, test_set = train_test_split(
        df, test_size=0.3, random_state=rstate, shuffle=shuffle, stratify=strat
    )
    strat = test_set[stratify] if stratify else None
    val_set, test_set = train_test_split(
        test_set, test_size=0.5, random_state=rstate, shuffle=shuffle, stratify=strat
    )
    return train_set, val_set, test_set

# Cargar el conjunto de datos del Titanic
df = load_titanic_dataset_csv("Titanic/titanic3.csv")

# Dividir el conjunto de datos en entrenamiento, validación y prueba sin estratificación
train_set, val_set, test_set = titanic_train_val_test_split(df, stratify=None)

In [ ]:
df = load_titanic_dataset_csv("Titanic/titanic3.csv")
df

# Preparación del DataSet.

In [ ]:
print ("Longitud del Trainig Set: ", len(train_set))
print ("Longitud del Validation Set: ", len(val_set))
print ("Longitud del Test Set: ", len(test_set))

## Limpiando Datos.

In [ ]:
# Separar las características de entrada de las características de salida.
X_train = train_set.drop("survived", axis=1)
y_train = train_set["survived"].copy()

In [ ]:
# Para ilustrarlo es necesario añadir algunos valores nulos.
# a algunas características del DataSet.
X_train.loc[X_train["age"] > 25, "age"] = np.nan
X_train.loc[X_train["fare"] < 20, "fare"] = np.nan
X_train

In [ ]:
# Comprobar si existe algun atributo con valores nulos.
X_train.isna().any()

In [ ]:
# Seleccionar las filas que contengan valores nulos.
filas_valores_nulos = X_train[X_train.isnull().any(axis= 1)]
filas_valores_nulos

## Rellenar los valores nulos con imputer.

In [ ]:
# Copiar el DataSet para no alterar el original 
X_train_copy = X_train.copy()

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy = "median")

In [ ]:
# La clase Imputer no admite valores categoricos, se elimina los atributos categoricos.
X_train_copy_num = X_train_copy.select_dtypes(exclude = ['object'])
X_train_copy_num.info()

In [ ]:
# Se le proporcionan los atributos numéricos para que calcule los valores
imputer.fit(X_train_copy_num)

In [ ]:
X_train_copy_num_nonan = imputer.transform(X_train_copy_num)

In [ ]:
# Rellenar los valores nulos.
X_train_copy_num = pd.DataFrame(X_train_copy_num_nonan, columns = X_train_copy_num.columns)

In [ ]:
X_train_copy.head(10)

In [ ]:
X_train = train_set.drop("survived", axis=1)
y_train = train_set["survived"].copy()

In [ ]:
X_train.info()

In [ ]:
sex = X_train['sex']
sex_encoded, categories = sex.factorize()

In [ ]:
# Mostrar como se codificarón.
for i in range(10):
    print(sex.iloc[i], "=", sex_encoded[i])

In [ ]:
print(categories)

## Transformaciones avanzadas mediante Sklearn.

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

sex_column = X_train[['sex']]

ordinal_encoder = OrdinalEncoder()
sex_encoded = ordinal_encoder.fit_transform(sex_column)

In [ ]:
# Mostrar cómo se han modificado las categorías.
for i in range(10):
    print(sex_column["sex"].iloc[i], "=", sex_encoded[i])

In [ ]:
print(categories)

#### One-Hot encoding.

In [ ]:
from sklearn.preprocessing import OneHotEncoder

sex_column = X_train[['sex']]

oh_encoder = OneHotEncoder()
sex_oh = oh_encoder.fit_transform(sex_column)
sex_oh

In [ ]:
sex_oh_array = sex_oh.toarray()
sex_oh_array

In [ ]:
# Mostrar por pantalla cómo se han codificado
for i in range(10):
    print(sex_column["sex"].iloc[i], "=", sex_oh_array[i])

In [ ]:
print(ordinal_encoder.categories_)

In [ ]:
oh_encoder = OneHotEncoder(handle_unknown = 'ignore')

### Get Dummies

In [ ]:
# Realizar la codificación one-hot de la columna 'sex'
sex_oh = pd.get_dummies(X_train['sex'])

# Mostrar por pantalla cómo se han codificado
print(sex_oh.head(10))

## Escalado del DataSet.

In [ ]:
# Seleccionar características de entrada
X_train = df[['pclass', 'age', 'sex', 'fare', 'sibsp']]

# Seleccionar columna de salida
y_train = df['survived'].copy()

In [ ]:
from sklearn.preprocessing import RobustScaler

# Supongamos que queremos escalar las características 'age' y 'fare'
scale_attrs = X_train[['age', 'fare']]

# Inicializar el RobustScaler
robust_scaler = RobustScaler()

# Aplicar la transformación de escala
X_train_scaled = robust_scaler.fit_transform(scale_attrs)

# Crear un DataFrame con las características escaladas
X_train_scaled = pd.DataFrame(X_train_scaled, columns=['age', 'fare'])

In [ ]:
X_train_scaled.head(10)

# Evaluacion de Resultados.

In [ ]:
def load_titanic_dataset_csv(data_path):
    """Lectura del conjunto de datos Titanic en formato CSV."""
    return pd.read_csv(data_path)

# Utiliza la función load_titanic_dataset_csv para cargar el conjunto de datos del Titanic en formato CSV
df_titanic = load_titanic_dataset_csv("Titanic/titanic3.csv")

In [ ]:
df.info()

## División del DataSet.

In [ ]:
# Dividir el conjunto de datos en entrenamiento y prueba (60% entrenamiento, 20% prueba)
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

In [ ]:
train_set.info()

In [ ]:
test_set.info()

In [ ]:
#Separar el conjunto de datos de pruebas 50% validation set, 50% test_set.
val_set, test_set = train_test_split(test_set, test_size=0.2, random_state=42)

In [ ]:
print ("Longitud del Trainig Set: ", len(train_set))
print ("Longitud del Validation Set: ", len(val_set))
print ("Longitud del Test Set: ", len(test_set))

# Particionado aleatorio y Stratified Sampling.

In [ ]:
# Si shuffle=false, el DataSet no mezclará antes del particionado.
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42, shuffle=False)

In [ ]:
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42, stratify=df["survived"])

## Generación de una Funcion de Particionado.

In [ ]:
# Construcción de una función de particionado que realice el particionado completo.
def train_val_test_split(df, rstate=42, shuffle=True, stratify=None):
    strat = df[stratify] if stratify else None
    train_set, test_set = train_test_split(
    df, test_size=0.4, random_state=rstate, shuffle=shuffle, stratify=strat)
    strat = test_set[stratify] if stratify else None
    val_set, test_set = train_test_split(
    test_set, test_size=0.5, random_state=rstate, shuffle=shuffle, stratify=strat)
    return(train_set, val_set, test_set)

In [ ]:
print("Longitud del conjunto del DataSet: ", len(df))

In [ ]:
train_set, val_set, test_set = train_val_test_split(df, stratify='survived')

In [ ]:
print ("Longitud del Trainig Set: ", len(train_set))
print ("Longitud del Validation Set: ", len(val_set))
print ("Longitud del Test Set: ", len(test_set))

In [ ]:
# Comprobar que stratify mantiene la proporcion de la característica en 
# los subconjuntos.
%matplotlib inline
import matplotlib.pyplot as plt
df["survived"].hist()

In [ ]:
train_set["survived"].hist()

In [ ]:
val_set["survived"].hist()

In [ ]:
import arff
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin

In [ ]:
def load_titanic_dataset_csv(data_path):
    """Lectura del conjunto de datos Titanic en formato CSV."""
    return pd.read_csv(data_path)

# Cargar el conjunto de datos del Titanic
df = load_titanic_dataset_csv("Titanic/titanic3.csv")

In [ ]:
def titanic_train_val_test_split(df, rstate=42, shuffle=True, stratify=None):
    strat = df[stratify] if stratify else None
    train_set, test_set = train_test_split(
        df, test_size=0.2, random_state=rstate, shuffle=shuffle, stratify=strat
    )
    strat = test_set[stratify] if stratify else None
    val_set, test_set = train_test_split(
        test_set, test_size=0.2, random_state=rstate, shuffle=shuffle, stratify=strat
    )
    return train_set, val_set, test_set

In [ ]:
# Construcción de un pipeline para los atributos numéricos
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('rbst_scaler', RobustScaler()),
])

In [ ]:
class CustomOneHotEncoder(BaseEstimator, TransformerMixin):
    def __init__(self):
        self._oh = OneHotEncoder(sparse=None)
        self._columns = None

    def fit(self, X, y=None):
        X_cat = X.select_dtypes(include=['object'])
        self._oh.fit(X_cat)
        self._columns = self._get_feature_names_out(X_cat.columns)
        return self

    def transform(self, X, y=None):
        X_copy = X.copy()
        X_cat = X_copy.select_dtypes(include=['object'])
        X_cat_oh = self._oh.transform(X_cat)
        X_cat_oh = pd.DataFrame(X_cat_oh, columns=self._columns, index=X_copy.index)
        X_copy.drop(list(X_cat), axis=1, inplace=True)
        return X_copy.join(X_cat_oh)

    def _get_feature_names_out(self, input_features=None):
        if hasattr(self._oh, 'get_feature_names_out'):
            return self._oh.get_feature_names_out(input_features)
        else:
            return self._oh.get_feature_names(input_features)

In [ ]:
# Transformador que prepara todo el conjunto de datos
class DataFramePrepare(BaseEstimator, TransformerMixin):
    def __init__(self):
        self._full_pipeline = None
        self._columns = None
    
    def fit(self, X, y=None):
        num_attribs = list(X.select_dtypes(exclude=['object']))
        cat_attribs = list(X.select_dtypes(include=['object']))
        
        # Pipeline completo con transformadores personalizados
        self._full_pipeline = ColumnTransformer([
            ("num", num_pipeline, num_attribs),
            ("cat", CustomOneHotEncoder(), cat_attribs),
        ])
        self._full_pipeline.fit(X)
        self._columns = pd.get_dummies(X).columns
        return self
    
    def transform(self, X, y=None):
        X_copy = X.copy()
        X_prep = self._full_pipeline.transform(X_copy)
        return pd.DataFrame(X_prep, columns=self._columns, index=X_copy.index)

In [ ]:
df = load_titanic_dataset_csv("Titanic/titanic3.csv")

In [ ]:
df.head(10)

In [ ]:
# División del conjunto de datos en los diferentes subconjuntos
train_set, val_set, test_set = train_val_test_split(df, stratify='survived')

In [ ]:
print("Longitud del Training Set: ", len(train_set))
print("Longitud de Validacion del Set: ", len(val_set))
print("Longitud del Test Set: ", len(test_set))

In [ ]:
# Conjunto de datos general
X_df = df.drop("survived", axis=1)
y_df = df["survived"].copy()

In [ ]:
# Conjunto de datos de entrenamiento
X_train = train_set.drop("survived", axis=1)
y_train = train_set["survived"].copy()

In [ ]:
# Conjunto de validación
X_val = val_set.drop("survived", axis=1)
y_val = val_set["survived"].copy()

In [ ]:
# Conjunto de pruebas
X_test = test_set.drop("survived", axis=1)
y_test = test_set["survived"].copy()

In [ ]:
# Instanciar el transformador personalizado
data_preparer = DataFramePrepare()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Asegúrate de usar sparse_output=False si necesitas una matriz densa (NumPy)
encoder = OneHotEncoder(sparse_output=False)

# Ajusta el encoder y transforma los datos
X_encoded = encoder.fit_transform(X_df)

In [ ]:
X_train.head(5)

In [ ]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Supongamos que X_train es tu conjunto de datos original
# Selecciona solo las columnas numéricas
numeric_columns = X_train.select_dtypes(include=['float64', 'int64']).columns

# Inicializa el StandardScaler
scaler = StandardScaler()

# Aplica el scaler solo a las columnas numéricas y guárdalas en X_train_prep
X_train_prep = X_train.copy()  # crea una copia para no modificar X_train original
X_train_prep[numeric_columns] = scaler.fit_transform(X_train[numeric_columns])

In [ ]:
X_train_prep.head(5)

In [ ]:
# Codificación One-Hot para variables categóricas
X_train_encoded = pd.get_dummies(X_train)

# Llenar valores nulos con la media
X_train_encoded_filled = X_train_encoded.fillna(X_train_encoded.mean())

# Entrenamiento del modelo de regresión logística
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(max_iter=600)
clf.fit(X_train_encoded_filled, y_train)

In [ ]:
import pandas as pd
data = pd.read_csv('Titanic/titanic3.csv')

X = data.drop('survived', axis=1)
y = data['survived']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)


X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

numeric_cols = ['length_name', 'age', 'sibsp', 'parch', 'fare', 'person_rate', 'Characteristic_of_Number _Name', 'Name_Length']
categorical_cols = ['pclass', 'sex', 'embarked', 'Age_group']

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),  
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),  
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])


preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

clf = LogisticRegression(max_iter=600)


pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                             ('classifier', clf)])


pipeline.fit(X_train, y_train)


y_pred = pipeline.predict(X_val)

In [ ]:
X_val_preprocessed = preprocessor.transform(X_val)


y_pred = pipeline.predict(X_val)

### Matriz de confusion

In [ ]:
from sklearn.metrics import ConfusionMatrixDisplay
import matplotlib.pyplot as plt

# Transforma los datos de validación
X_val_preprocessed = preprocessor.transform(X_val)

# Genera predicciones usando tu pipeline
y_pred = pipeline.predict(X_val)

# Crea y muestra la matriz de confusión
disp = ConfusionMatrixDisplay.from_predictions(
    y_val, y_pred, values_format='d', cmap=plt.cm.Blues
)
disp.ax_.set_title('Confusion Matrix')

plt.show()

# METRICAS

In [ ]:
from sklearn.metrics import precision_score

y_pred = pipeline.predict(X_val)

precision = precision_score(y_val, y_pred, pos_label=1)

print("Precisión:", precision)

In [ ]:
from sklearn.metrics import recall_score

y_pred = pipeline.predict(X_val)


recall = recall_score(y_val, y_pred, pos_label=1)

print("Recall:", recall)

# F1 SCORE

In [ ]:
from sklearn.metrics import f1_score


y_pred = pipeline.predict(X_val)


f1 = f1_score(y_val, y_pred, pos_label=1)

print("F1 Score:", f1)

## 3.- Curvas ROC Y PR.

In [ ]:
from sklearn.metrics import RocCurveDisplay
import matplotlib.pyplot as plt

# Genera las probabilidades para la clase positiva (asumiendo un problema binario)
y_pred_prob = pipeline.predict_proba(X_val)[:, 1]

# Crea y muestra la curva ROC
RocCurveDisplay.from_predictions(y_val, y_pred_prob)
plt.title('Receiver Operating Characteristic (ROC) Curve')
plt.show()

In [ ]:
from sklearn.metrics import PrecisionRecallDisplay
import matplotlib.pyplot as plt

# Genera las probabilidades para la clase positiva (asumiendo un problema binario)
y_pred_prob = pipeline.predict_proba(X_val)[:, 1]

# Crea y muestra la curva Precision-Recall
PrecisionRecallDisplay.from_predictions(y_val, y_pred_prob)
plt.title('Precision-Recall Curve')
plt.show()